

@font-face {
    font-family: 'poppinsblack';
    src: url('font/poppins/poppins-black-webfont.woff2') format('woff2'),
         url('font/poppins/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'poppinsmedium';
    src: url('font/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('font/poppins/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    /* background: linear-gradient(to left, #0f2027, #203a43, #2c5364); */
    background: linear-gradient(to right, #fcfaf3,#e2cfbd, #f1e4dc);
   
    font-family:monospace;
    font-weight: bold ;
    background-size: 400%;
   animation: grad 5s infinite alternate;
}

@keyframes grad {
    0%{
       background-position:right ;
    }
    100%{
       background-position: left;
    }
}

h1{
    font-family: poppinsblack;
}
h4{
    color: #d8e2dc;
}

.slide {
box-shadow: 16.5px 19px 44px 5px #03030350;
}
#dp{
    box-shadow: 10.5px 8px 25px -9px rgba(28, 28, 28, 0.59);


}

.about{ 
    /* background: linear-gradient(to right, #d3cce354, #e9e4f08a);
    backdrop-filter: blur(20px); */
    border-radius: 51px;
background: linear-gradient(315deg, #f0f0f0, #cacaca);
box-shadow:  -22px -22px 32px #d5d5d5,
}
.s1,.s2,.s3,.s4,.s5{
    background:#0575e6 ;
    cursor: pointer;
    
}
.s1:hover{
     /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
     background:#0080ff ;
    transition: background .2s ease-in-out;
}


.s2:hover{
    /* background: linear-gradient(to right, #373b44, #4286f4); */
    background:#0080ff ;
    transition: background .2s ease-out;
}


.s3:hover{
    /* background: linear-gradient(to right, #396afc, #2948ff); */
    background:#0080ff ;
    transition: background .2s ease-in;
   
}

.s4:hover{
    /* background: linear-gradient(to right, #bdc3c7, #2c3e50); */
    background:#0080ff ;
    transition: background .2s ease-in;
    
}


.s5:hover{
    /* background: linear-gradient(to right, #0575e6, #021b79); */
    background:#0080ff ;
    transition: background .2s ease-in;
}
a{
    text-decoration: none;
}